[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==2.0.16"
uvicorn = "==0.22.0"
alembic = "==1.11.1"
psycopg2 = "==2.9.6"
python-jose = "==3.3.0"
passlib = "==1.7.4"
python-multipart = "==0.0.6"
fastapi = "==0.104.0"
pydantic = "==2.4.2"

[dev-packages]
ruff = "==0.1.5"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
